
body{
    background-color: azure;
}

/*#Pr-1{

    color: dimgray !important;
}*/

* {
   font-family: 'Poppins'
    /*para adicionar em tudo*/
}
/*
u {
    color: black;
}

b {
    color: teal;
}
i {
    color: darkgoldenrod;
}*/

table{
    border: 1px solid black;
    width: 100%;
    border-spacing: 0;
}

th{
    text-align: start;
    background-color: #b3b3b3;
    padding: 8px 4px;
}